@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reem+Kufi:wght@400..700&display=swap');

.login-page {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 2rem auto;
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.login-page__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.login-page__menu-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-page__menu-item:last-child {
  border-bottom: none;
}

.login-page__menu-item:hover {
  background-color: #00c210;
  color: black;
}

.login-page__menu-item--active {
  background-color: #009213;
  color: #fff;
}

.login-page__content {
  flex: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page__form {
  width: 100%;
  max-width: 400px;
}

.login-page__title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}

.login-page__form-group {
  margin-bottom: 1.5rem;
}

.login-page__label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.login-page__input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-page__password-container {
  display: flex;
  align-items: center;
}

.login-page__submit-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #059900;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-page__submit-button:hover {
  background-color: #036100;
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .login-page__menu {
    flex-direction: row;
  }

  .login-page__menu-item {
    padding: 1rem;
  }

  .login-page__content {
    padding: 1.5rem;
  }

  .login-page__input {
    min-width: auto;
  }
}

@media (max-width: 480px) {
  .login-page__title {
    font-size: 1.5rem;
  }

  .login-page__menu-item {
    font-size: 0.9rem;
  }

  .login-page__input {
    padding: 0.6rem;
  }

  .login-page__submit-button {
    padding: 0.6rem;
  }
}